/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 nav{
  -webkit-box-shadow: none;
 }

nav ul a{

}

.card.card-content{
  padding: 0px;
}

.modal{
  height: 80vh;
}


.legacy-search{
  width: 100%;
  height: 90vh;
}

#modal1{
  max-height: 90vh;
  overflow-y: hidden !important;
}

.icon-block{
  text-align: center;
}


.casket-bar{
    display: flex;
    justify-content: center;
}

.casket-bar a{
    display: flex;
    margin:0 auto 20px auto;
    color: black;
    text-decoration: underline;
}

.bold{
    font-weight: bold;
}

.push-right{
    margin-left: 35px;
}

.foot-container{
    padding: 20px 50px 30px 50px;
}


.disc-list{
    list-style-type: disc !important;
}

.disc-list li{
    list-style-type: disc !important;
    margin-left: 35px;
}

.inTheBlue{
    position: absolute;
    color: white;
    font-size: 20px;
    margin-top: -50px;
}

.casketOffset{
  display: block;
  margin: 0 auto;
}

.thestaff{
    display: flex;
    justify-content: center;
}

.staff-mem{
    display: inline-block;
}


.services{
    display: none;
}

.logo-text{
    margin-top: -10px;
    color: #a29e9e;
    font-style: italic;
}


.input-field{
    color: black;
}

#textarea1{
    color: black;
}


header nav ul.hide-on-med-and-down li {
    float: none;
    display: inline-flex;
}

.search-contain{
  text-align: center;
  display: flex;
}

.search-contain h5{
  display: inline-flex;
}

.search-contain input{
  display: inline-flex;
}
.button-collapse {
  color: #26a69a;
}


.hover-contain{
    transition: 1s ease;
}

.hover-thing:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

header{
  padding: 2em 0 0 0;
  text-align: center;
  height: 100%;
}


.slider .slides li img{
    background-repeat: no-repeat;
    background-size: auto !important;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

    .card-up{
        margin-top: -120px;
    }

}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}